body {
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
h1 {
  text-align: center;
}
.show {
  width: 300px;
  height: 150px;
  margin: auto;
  border: 1px thin gray;
  border-radius: 0.5rem;
  background-color: black;
  color: white;
  position: relative;
  overflow: hidden;
}
.messages {
  text-align: center;
  font-weight: bold;
}
input {
  margin: 0.4rem;
}
.motionless {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.x-ltr {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  animation-name: xm-ltr;
  animation-timing-function: linear;
  animation-delay: 0;
}
@keyframes xm-ltr {
  0% {
    margin-left: -100%;
  }
  100% {
    margin-left: 100%;
  }
}
.x-rtl {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: right;
  animation-name: xm-rtl;
  animation-timing-function: linear;
  animation-delay: 0;
}
@keyframes xm-rtl {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: -100%;
  }
}
.y-ttb {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  animation-name: ym-ttb;
  animation-timing-function: linear;
  animation-delay: 0;
}
@keyframes ym-ttb {
  0% {
    margin-top: -25%;
  }
  100% {
    margin-top: 50%;
  }
}
.y-btt {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  animation-name: ym-btt;
  animation-timing-function: linear;
  animation-delay: 0;
}
@keyframes ym-btt {
  0% {
    margin-top: 50%;
  }
  100% {
    margin-top: -25%;
  }
}
.d-ttb {
  position: relative;
  animation-name: dm-ttb;
  animation-timing-function: linear;
  animation-delay: 0;
}
@keyframes dm-ttb {
  0% {
    top: -10%;
    left: -10%;
  }
  100% {
    top: 100%;
    left: 110%;
  }
}
.d-btt {
  position: relative;
  animation-name: dm-btt;
  animation-timing-function: linear;
  animation-delay: 0;
}
@keyframes dm-btt {
  0% {
    top: 100%;
    left: 110%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}
.ad-ttb {
  position: relative;
  text-align: right;
  animation-name: adm-ttb;
  animation-timing-function: linear;
  animation-delay: 0;
}
@keyframes adm-ttb {
  0% {
    top: -10%;
    right: -10%;
  }
  100% {
    top: 100%;
    right: 110%;
  }
}
.ad-btt {
  position: relative;
  text-align: right;
  animation-name: adm-btt;
  animation-timing-function: linear;
  animation-delay: 0;
}
@keyframes adm-btt {
  0% {
    top: 100%;
    right: 110%;
  }
  100% {
    top: -10%;
    right: -10%;
  }
}
.btn-group {
  text-align: center;
}
.btn-group button {
  width: 120px;
  padding: 1rem;
}
footer {
  text-align: center;
  padding: 1rem;
}
@media (min-width: 768px) {
  body {
    max-width: 720px;
  }
  .show {
    width: 600px;
    height: 300px;
  }
  .btn-group button {
    width: 160px;
  }
}
