/* BASE
  ============================= */
html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}
img {
  width: 100%;
  height: auto;
}
/* GLOBALS
  ============================= */
.container {
  width: 100%;
  margin: auto;
  padding: 1rem;
}
.title {
  text-align: center;
}
/* DISPLAY
  ============================= */
.display {
  width: 100%;
  height: 15rem;
  border-radius: 1rem;
  background-color: #000000;
  color: #ffffff;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
/* ALERT
  ============================= */
.alert {
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
}
.warning {
  border: thin solid orange;
  color: orangered;
  font-weight: bold;
}
.success {
  border: thin solid greenyellow;
  color: green;
  font-weight: lighter;
}
/* FORM
  ============================= */
.my-form {
}
.my-form fieldset {
  margin-top: 1rem;
  border-radius: 1rem;
}
.my-form legend {
  padding: 1rem;
}
.my-form .pair-li {
  margin-bottom: 1rem;
}
.my-form .pair-li label {
  margin-right: 1rem;
}
.my-form .pair-li input {
}
.my-form .btn-group {
  text-align: center;
}
.my-form .btn-group button {
}
/* EFFECTS
  ============================= */
.motionless {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.x-ltr {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  animation-name: xm-ltr;
  animation-timing-function: linear;
  animation-delay: 0;
}
@keyframes xm-ltr {
  0% {
    margin-left: -100%;
  }
  100% {
    margin-left: 100%;
  }
}
.x-rtl {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: right;
  animation-name: xm-rtl;
  animation-timing-function: linear;
  animation-delay: 0;
}
@keyframes xm-rtl {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: -100%;
  }
}
.y-ttb {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  animation-name: ym-ttb;
  animation-timing-function: linear;
  animation-delay: 0;
}
@keyframes ym-ttb {
  0% {
    margin-top: -25%;
  }
  100% {
    margin-top: 50%;
  }
}
.y-btt {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  animation-name: ym-btt;
  animation-timing-function: linear;
  animation-delay: 0;
}
@keyframes ym-btt {
  0% {
    margin-top: 50%;
  }
  100% {
    margin-top: -25%;
  }
}
.d-ttb {
  position: relative;
  animation-name: dm-ttb;
  animation-timing-function: linear;
  animation-delay: 0;
}
@keyframes dm-ttb {
  0% {
    top: -10%;
    left: -10%;
  }
  100% {
    top: 100%;
    left: 110%;
  }
}
.d-btt {
  position: relative;
  animation-name: dm-btt;
  animation-timing-function: linear;
  animation-delay: 0;
}
@keyframes dm-btt {
  0% {
    top: 100%;
    left: 110%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}
.ad-ttb {
  position: relative;
  text-align: right;
  animation-name: adm-ttb;
  animation-timing-function: linear;
  animation-delay: 0;
}
@keyframes adm-ttb {
  0% {
    top: -10%;
    right: -10%;
  }
  100% {
    top: 100%;
    right: 110%;
  }
}
.ad-btt {
  position: relative;
  text-align: right;
  animation-name: adm-btt;
  animation-timing-function: linear;
  animation-delay: 0;
}
@keyframes adm-btt {
  0% {
    top: 100%;
    right: 110%;
  }
  100% {
    top: -10%;
    right: -10%;
  }
}
/* FOOTER
  ============================= */
footer {
  text-align: center;
  padding: 1rem;
}
/*
@media (min-width: 768px) {
  body {
    max-width: 720px;
  }
  .display {
    width: 600px;
    height: 300px;
  }
  .btn-group button {
    width: 160px;
  }
}
*/
/* MEDIA QUERIES
  ============================= */
@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
