.sections {
}
.d-none {
  display: none;
}
.show {
  width: 300px;
  height: 150px;
  margin: auto;
  background-color: black;
  color: white;
  position: relative;
  overflow: hidden;
}
.fs-05 {
  font-size: 0.5rem;
}
.fs-1 {
  font-size: 1rem;
}
.fs-2 {
  font-size: 2rem;
}
.fs-3 {
  font-size: 3rem;
}
.fs-4 {
  font-size: 4rem;
}
.motionless {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.x-ltr {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  animation-name: xm-ltr;
}

@keyframes xm-ltr {
  0% {
    margin-left: -100%;
    width: 200%;
    opacity: 1;
  }
  100% {
    margin-left: 100%;
    width: 100%;
    opacity: 1;
  }
}
